header.container
	div#header
		div.row.box_wrapper			
			div#logo
				a(href="index.html")
					//- img#main_img(src="images/logo_4.png", alt="Ніжинська районна рада")
					img#main_img(src="images/header.jpg", alt="Ніжинська районна рада")