div#banner.container
	div.row#tech-slideshow
		div#tech-slideshow-1
			a(href='#')
				//- img(src='images/banner/3B.png')
			a(href='#')
				//- img(src='images/banner/conar.png')
			a(href='#')
				img(src='images/banner/prezident.gif')
			a(href='#')
				img(src='images/banner/VRU.gif')
			a(href='#')
			a(href='#')
				img(src='images/banner/ODA.gif')
			a(href='#')
				//- img(src='images/banner/oblrada.jpg')
			a(href='#')
				img(src='images/banner/kmu.jpg')
			a(href='#')
				img(src='images/banner/Choblrada.jpg')
			a(href='#')
				img(src='images/banner/dpa.gif')		

			//- a(href='#')
			//- 	img(src='images/banner/kabinet_viborcya.jpg')
			//- a(href='#')
			//- 	img(src='images/banner/guds.jpg')			
			//- a(href='#')
			//- 	img(src='images/banner/energoefficiency.jpg')
			
			//- a(href='#')
			//- 	img(src='images/banner/drv_baner2.jpg')
			//- a(href='#')
			//- 	img(src='images/banner/dfsmsu_150_57.jpg')
			//- a(href='#')
			//- 	img(src='images/banner/cjntr2.jpg')
			//- a(href='#')
			//- 	img(src='images/banner/admin_oda.jpg')			
			//- a(href='#')
			//- 	img(src='images/banner/uhl6.gif')
			//- a(href='#')
			//- 	img(src='images/banner/rada.gif')
			//- a(href='#')
			//- 	img(src='images/banner/prez.gif')
			//- a(href='#')
			//- 	img(src='images/banner/kmu.gif')