section#section_1.container
	div.row.box_wrapper
		div#center_box.col-xs-12
			div.row.item_news
				h3.item_name.row.text-center
					a(href="#") Олег Бузун поділився досвідом реалізації європейських проектів із головами територіальних громад Чернігівщини
				//- div.item_img.col-sm-3
				//- 	a(href='#')
				//- 		img(src='images/boss.jpg')
				div.row
					div.container-fluid
						div.col-xs-offset-1.date_news.col-xs-5 26 Жовтня 2016 - 20:40
						div.category.col-xs-5
							a(href="#") Повідомлення
				div.row.text_news
					div.container-fluid				
						p Відповідно до плану-графіка навчання кадрів на 2017 рік, затвердженого спільним розпорядженням голови обласної державної адміністрації та голови обласної ради від 13 грудня 2016 року № 89, у Чернігівському центрі перепідготовки та підвищення кваліфікації працівників органів державної влади, органів місцевого самоврядування, державних підприємств, установ і організацій 06 квітня 2017 року проводився тематичний короткотерміновий семінар «Правові та організаційні засади співробітництва територіальних громад (міжмуніципальне співробітництво)» для голів територіальних громад. Участь у семінарі взяв голова Ніжинської районної ради Олег Бузун, який  у ході зустрічі висвітлив тему «Реалізація європейських проектів на Ніжинщині: досвід та перспективи».
							img.img_news.img-thumbnail(src="images/news_4.jpg", alt="") 
						p Як відомо, кожен рік по Україні, особливо у період літньої засухи, надходить інформація про пожежі на осушених болотах. Пожежі, що виникли в лісах, як правило, завжди супроводжуються загоранням торфяних родючих грунтів низинних боліт. Такі явища мали місце й у с.Кукшин Ніжинського району ще у 2010 р., окремими частинами тоді горіло близько 15 гектарів землі. Тому за для припинення пожеж на торфовищах осушувальної системи «Смолянка», що приносять як матеріальні, так і екологічні збитки, залучено Проект Європейської комісії – Програми розвитку ООН Clima East: «Збереження та стале використання торфовищ», який на території України діє лише в Ніжинському районі.  Завдяки проекту в районі створено "Регіональний ландшафтний парк "Ніжинський”, відновлено природний гідрологічний режим торфовищ осушувальної системи «Смолянка»,  йде постійна підтримка шкіл із створенням екологічних класів, встановлення твердопаливних котлів, відкриття географічного майданчика, проведення акцій екологічного спрямування «Чиста країна» та функціонує молочний кооперативів у Кукшині.
				div.row
					div.col-xs-offset-1.view.col-xs-3 Переглядів:
					div.col-xs-offset-1.rating.col-xs-3 Рейтинг:
					div.col-xs-offset-1.comment.col-xs-3
						span.glyphicon.glyphicon-comment  Коментарі:
				form.row.form_comment(role="form")
					div.col-xs-offset-1.col-xs-10.form-group
						input.form-control(type="text" placeholder="І'я")
					div.col-xs-offset-1.col-xs-10.form-group
						input#inputEmail3.form-control(type="email" placeholder="Email")
					div.col-xs-offset-1.col-xs-10.form-group
						textarea.form-control(placeholder="Текст коментаря")
					div.col-xs-offset-4.col-sm-offset-5.col-xs-10.form-group
						button.btn.btn-default(type="submit") Відправити
		