section#section_1.container
	div.row									
		div#center_box.col-md-9 
			h3.topic Новини
			a.show_all(href='') Переглянути всі новини 
			i.fa.fa-angle-right
			div.row.item_news
				div.col-sm-5.hidden-xs
					div.item_img
						a(href='')
							img(src='images/img_news.jpg')
				div.col-sm-7
					div.item_text
						h3.title_news Про ефективність використання земельно-ресурсного потенціалу Куликівського району
						div.date_news 26 Жовтня 2016 - 20:40								
						a(href='')
							div.text_news Виступаючи на розширеному засіданні Колегії райдержадміністрації начальник відділу агропромислового розвитку райдержадміністрації Ніна Клочок зазначила, що усього земель сільськогосподарського призначення державної власності - запасу і резервного фонду у Куликівському районі налічується 26475,80га, з них: 15580,47га- сільськогосподарських угідь; 2260,19га - ріллі. 
			div.row.item_news
				div.col-sm-5.hidden-xs
					div.item_img
						a(href='')
							img(src='images/img_news.jpg')
				div.col-sm-7
					div.item_text
						h3.title_news Про ефективність використання земельно-ресурсного потенціалу Куликівського району
						div.date_news 26 Жовтня 2016 - 20:40								
						a(href='')
							div.text_news Виступаючи на розширеному засіданні Колегії райдержадміністрації начальник відділу агропромислового розвитку райдержадміністрації Ніна Клочок зазначила, що усього земель сільськогосподарського призначення державної власності - запасу і резервного фонду у Куликівському районі налічується 26475,80га, з них: 15580,47га- сільськогосподарських угідь; 2260,19га - ріллі.
			div.row.item_news
				div.col-sm-5.hidden-xs
					div.item_img
						a(href='')
							img(src='images/img_news.jpg')
				div.col-sm-7
					div.item_text
						h3.title_news Про ефективність використання земельно-ресурсного потенціалу Куликівського району
						div.date_news 26 Жовтня 2016 - 20:40								
						a(href='')
							div.text_news Виступаючи на розширеному засіданні Колегії райдержадміністрації начальник відділу агропромислового розвитку райдержадміністрації Ніна Клочок зазначила, що усього земель сільськогосподарського призначення державної власності - запасу і резервного фонду у Куликівському районі налічується 26475,80га, з них: 15580,47га- сільськогосподарських угідь; 2260,19га - ріллі.
			div.row.item_news
				div.col-sm-5.hidden-xs
					div.item_img
						a(href='')
							img(src='images/img_news.jpg')
				div.col-sm-7
					div.item_text
						h3.title_news Про ефективність використання земельно-ресурсного потенціалу Куликівського району
						div.date_news 26 Жовтня 2016 - 20:40								
						a(href='')
							div.text_news Виступаючи на розширеному засіданні Колегії райдержадміністрації начальник відділу агропромислового розвитку райдержадміністрації Ніна Клочок зазначила, що усього земель сільськогосподарського призначення державної власності - запасу і резервного фонду у Куликівському районі налічується 26475,80га, з них: 15580,47га- сільськогосподарських угідь; 2260,19га - ріллі. 									 				

		div#right_box.col-md-3.hidden-sm.hidden-xs 
			div.announcements Анонси 
			a.show_all(href='') Переглянути всі анонси 
			i.fa.fa-angle-right 
			div.row.item_announcement
				div.col-xs-12
					div.item_text
						a(href='')
							h3.title_announcement Графік проведення прямого телефонного зв’язку
						//- 	div.text_announcement ГРАФІК проведення прямого телефонного зв’язку керівництва районної державної адміністрації, управлінь, відділів та інших структурних підрозділів на ІV квартал 2016 року
					div.date_announcement 26 Жовтня 2016 - 20:40
			div.row.item_announcement
				div.col-xs-12
					div.item_text
						a(href='')
							h3.title_announcement З вересня 2016 року по березень 2017 року проводитиметься IV Всеукраїнський конкурс есе «Я – європеєць».
							//- div.text_announcement Основними завданнями конкурсу є: розвиток у дітей і молоді активної життєвої позиції, готовності брати участь у суспільному, культурному та міжнародному житті країни; формування у молоді демократичних, європейських цінностей, розуміння прав і свобод людини, високих соціальних, культурних, освітніх стандартів; підвищення значущості ідеї єдності та дружби України і Литовської Республіки серед молодих учасників.
						div.date_announcement 26 Жовтня 2016 - 20:40
			div.row.item_announcement
				div.col-xs-12
					div.item_text
						a(href='')
							h3.title_announcement Міжнародна поїздка до Словаччини, Австрії, Італії, Словенії та Угорщини
							//- div.text_announcement ГРАФІК проведення прямого телефонного зв’язку керівництва районної державної адміністрації, управлінь, відділів та інших структурних підрозділів на ІV квартал 2016 року
					div.date_announcement 26 Жовтня 2016 - 20:40						
				//- div.item_announcement
				//- 	div.row
				//- 		div.col-xs-12
				//- 			div.img_announcement
				//- 				a(href='')
				//- 					img(src='' width='360', height='240')
				//- div.item_announcement
				//- 	div.row
				//- 		div.col-xs-12
				//- 			div.img_announcement
				//- 				a(href='')
				//- 					img(src='' width='360', height='240')						