div.container#top_footer
	div.row
		div.link_out.col-md-2
			a(href='http://www.president.gov.ua/') Президент України
		div.link_out.col-md-2
			a(href='http://www.rada.gov.ua/') Верховна Рада України 

		div.link_out.col-md-2
			a(href='http://www.kmu.gov.ua/') Урядовий портал

		div.link_out.col-md-2
			a(href='http://cg.gov.ua/') Чернігівська обласна державна адміністрація

		div.link_out.col-md-2
			a(href='http://www.chernihiv-oblrada.gov.ua/') Чернігівська обласна рада

		div.link_out.col-md-2
			a(href='http://www.dpa.cv.ua/') Державна податкова адміністрація

