section#section_1.container
	div.row.box_wrapper
		div#left_box.col-md-3.hidden-sm.hidden-xs
			div#boss.row
				p.col-md-12 Голова районної ради
				img.col-md-12(src="images/boss.jpg", alt="Голова")
				p.col-md-12 Бузун Олег Віталійович
			section#list_page.row
				ul.nav.nav-pills.nav-stacked
					li
						a(href='#news' data-toggle='collapse') Новини
							i.fa.fa-sort-desc(aria-hidden='true')
						ul.block-list.dropdown-sub-menu.panel-collapse.collapse#news
							li
								a(href='') Новини районної ради
							li
								a(href='') Новини на місцях
							li
								a(href='') Новини райдержадміністрації
							li
								a(href='') Новини ОТГ							
							li
								a(href='') Оголошення
							li
								a(href='') Вивчаємо законодавство
							li
								a(href='') Статистика інформує
							li
								a(href='') Податкова інформує
					li
						a(href='#about_region' data-toggle='collapse') Про район
							i.fa.fa-sort-desc(aria-hidden='true')
						ul.block-list.dropdown-sub-menu.panel-collapse.collapse#about_region
							li
								a(href='') Символіка
							li
								a(href='') Адміністративно-територіальний устрій
							li
								a(href='') Сільські ради
							li
								a(href='') Об’єднані територіальні громади
							li
								a(href='') Природа
							li
								a(href='') Історія
							li
								a(href='') Видатні особистості	
					li
						a(href='#rada' data-toggle='collapse') Районна рада
							i.fa.fa-sort-desc(aria-hidden='true')
						ul.block-list.dropdown-sub-menu.panel-collapse.collapse#rada
							li
								a(href='') Загальна інформація
							li
								a(href='') Структура
							li
								a(href='') Голова
							li
								a(href='') Заступник
							li
								a(href='') Президія
							li
								a(href='') Депутати
							li
								a(href='') Постійні комісії
							li
								a(href='') Фракції та групи
							li
								a(href='') Виконавчий апарат
							li
								a(href='') Районна асоціація органів місцевого самоврядування «Рада Ніжинщини»
							li
								a(href='') Очищення влади
							li
								a(href='') Вакансії
					li
						a(href='#regulationsPublic' data-toggle='collapse') Нормативні документи
							i.fa.fa-sort-desc(aria-hidden='true')
						ul.block-list.dropdown-sub-menu.panel-collapse.collapse#regulationsPublic
							li
								a(href='') Законодавство
							li
								a(href='') Регламент
							li
								a(href='') Проекти регуляторних актів та рішень
							li
								a(href='') Рішення
							li
								a(href='') Протоколи сесій
							li
								a(href='') Регуляторні акти
							li
								a(href='') Розпорядження голови районної ради
							li
								a(href='') Плани роботи
					li
						a(href='#public' data-toggle='collapse') Зв'язки з громадськістю
							i.fa.fa-sort-desc(aria-hidden='true')
						ul.block-list.dropdown-sub-menu.panel-collapse.collapse#public
							li
								a(href='') Доступ до публічної інформації
							li
								a(href='') Нормативно-правова база
							li
								a(href='') Звернення громадян
							li
								a(href='') Електронна приймальня
							li
								a(href='') Гостьова книга
					li
						a(href='#media' data-toggle='collapse') Медіа
							i.fa.fa-sort-desc(aria-hidden='true')
						ul.block-list.dropdown-sub-menu.panel-collapse.collapse#media
							li
								a(href='') Фотогалерея
							li
								a(href='') Відеотека
					li
						a(href='') Контакти
		div#center_box.col-md-9
			div.row.item_news
				h3.item_name.row.text-center 
					a(href="#") Олег Бузун поділився досвідом реалізації європейських проектів із головами територіальних громад Чернігівщини
				//- div.item_img.col-sm-3
				//- 	a(href='#')
				//- 		img(src='images/boss.jpg')
				div.row
					div.container-fluid
						div.col-xs-offset-1.date_news.col-xs-5 26 Жовтня 2016 - 20:40
						div.category.col-xs-5
							a(href="#") Повідомлення
				div.row.text_news
					div.container-fluid
						p Відповідно до плану-графіка навчання кадрів на 2017 рік, затвердженого спільним розпорядженням голови обласної державної адміністрації та голови обласної ради від 13 грудня 2016 року № 89, у Чернігівському центрі перепідготовки та підвищення кваліфікації працівників органів державної влади, органів місцевого самоврядування, державних підприємств, установ і організацій 06 квітня 2017 року проводився тематичний короткотерміновий семінар «Правові та організаційні засади співробітництва територіальних громад (міжмуніципальне співробітництво)» для голів територіальних громад. Участь у семінарі взяв голова Ніжинської районної ради Олег Бузун, який  у ході зустрічі висвітлив тему «Реалізація європейських проектів на Ніжинщині: досвід та перспективи».
							img.img_news.img-thumbnail(src="images/news_4.jpg", alt="")
						p Як відомо, кожен рік по Україні, особливо у період літньої засухи, надходить інформація про пожежі на осушених болотах. Пожежі, що виникли в лісах, як правило, завжди супроводжуються загоранням торфяних родючих грунтів низинних боліт. Такі явища мали місце й у с.Кукшин Ніжинського району ще у 2010 р., окремими частинами тоді горіло близько 15 гектарів землі. Тому за для припинення пожеж на торфовищах осушувальної системи «Смолянка», що приносять як матеріальні, так і екологічні збитки, залучено Проект Європейської комісії – Програми розвитку ООН Clima East: «Збереження та стале використання торфовищ», який на території України діє лише в Ніжинському районі.  Завдяки проекту в районі створено "Регіональний ландшафтний парк "Ніжинський”, відновлено природний гідрологічний режим торфовищ осушувальної системи «Смолянка»,  йде постійна підтримка шкіл із створенням екологічних класів, встановлення твердопаливних котлів, відкриття географічного майданчика, проведення акцій екологічного спрямування «Чиста країна» та функціонує молочний кооперативів у Кукшині.
				div.row
					div.col-xs-offset-1.view.col-xs-3 Переглядів:
					div.col-xs-offset-1.rating.col-xs-3 Рейтинг:
					div.col-xs-offset-1.comment.col-xs-3
						span.glyphicon.glyphicon-comment  Коментарі:
				form.row.form_comment(role="form")
					div.col-xs-offset-1.col-xs-10.form-group
						input.form-control(type="text" placeholder="І'я")
					div.col-xs-offset-1.col-xs-10.form-group
						input#inputEmail3.form-control(type="email" placeholder="Email")
					div.col-xs-offset-1.col-xs-10.form-group
						textarea.form-control(placeholder="Текст коментаря")
					div.col-xs-offset-4.col-sm-offset-5.col-xs-10.form-group
						button.btn.btn-default(type="submit") Відправити
		//- div#right_box.col-md-3.hidden-sm.hidden-xs
		//- 	div.announcements.preview
		//- 		a(href="#") Анонси
		//- 	div.announcements
		//- 		a(href='#') Відео				
		//- 			iframe(src="https://www.youtube.com/embed/h4CxMK1dHiw", frameborder="0")
		//- 	div.announcements 
		//- 		a(href='#') Фотогалерея				
		//- 			img(src='images/galary_1.jpg')
		//- 	div.announcements
		//- 		a(href="")
		//- 			img(src="images/Clima.png", alt="Проект ЄС 'ClimaEast: Збереження та стале використання торфовищ', що впроваджується ПРООН")
		//- 	div.announcements
		//- 		a(href="")
		//- 			img(src="images/Park.jpg", alt="Комунальний заклад 'Регіональний ландшафтний парк 'Ніжинський' Ніжинської районної ради")			
		//- 	div.announcements
		//- 		div.form-group
		//- 			div.input-group.date#datetimepicker4
		//- 				input.form-control(type="text" placeholder="календар")
		//- 				span.input-group-addon
		//- 					span.glyphicon.glyphicon-calendar
		//- 	div.announcements
		//- 		a(href='#') Корисні посилання
		//- 	div.announcements
		//- 		ul.nav.nav-pills.nav-stacked
		//- 			li
		//- 				a(href='#arhiv' data-toggle='collapse') Архів записів
		//- 					i.fa.fa-sort-desc(aria-hidden='true')
		//- 				ul.block-list.dropdown-sub-menu.panel-collapse.collapse#arhiv
		//- 					li
		//- 						a(href='#') Квітень 2017
		//- 					li
		//- 						a(href='#') Травень 2017
		//- 	div.announcements
		//- 		a(href="#") Статистика