section#section_1.container
	div.row
		div#left_box.col-md-3.hidden-sm.hidden-xs
			div.sidebar
				ul.nav.nav-tabs.nav-stacked
					li.dropdown-submenu 
						a(href='' tabindex='-1') Портрет району
						ul.dropdown-menu
							li
								a(href='#')  Органи влади
					li
						a(href='') Органи влади
					li
						a(href='') Офіційна інформація
					li
						a(href='')	Пріорітети, районні програми, звіти
					li
						a(href='') Доступ до публічної інформації
					li
						a(href='') Громадська рада
					li
						a(href='') Політичні партії та громадські організації
					li
						a(href='') Консультації з громадкістю
					li
						a(href='') Регуляторна діяльність
					li
						a(href='') Інфракструктура району
					li
						a(href='') Звернення громадян
					li
						a(href='') Запобігання проявам корупції										
		div#center_box.col-md-9 
			h3.topic Новини
			a.show_all(href='') Переглянути всі новини 
			i.fa.fa-angle-right
			div.row.item_news
				div.col-sm-5.hidden-xs
					div.item_img
						a(href='')
							img(src='images/img_news.jpg')
				div.col-sm-7
					div.item_text
						h3.title_news Про ефективність використання земельно-ресурсного потенціалу Куликівського району
						div.date_news 26 Жовтня 2016 - 20:40								
						a(href='')
							div.text_news Виступаючи на розширеному засіданні Колегії райдержадміністрації начальник відділу агропромислового розвитку райдержадміністрації Ніна Клочок зазначила, що усього земель сільськогосподарського призначення державної власності - запасу і резервного фонду у Куликівському районі налічується 26475,80га, з них: 15580,47га- сільськогосподарських угідь; 2260,19га - ріллі. 
			div.row.item_news
				div.col-sm-5.hidden-xs
					div.item_img
						a(href='')
							img(src='images/img_news.jpg')
				div.col-sm-7
					div.item_text
						h3.title_news Про ефективність використання земельно-ресурсного потенціалу Куликівського району
						div.date_news 26 Жовтня 2016 - 20:40								
						a(href='')
							div.text_news Виступаючи на розширеному засіданні Колегії райдержадміністрації начальник відділу агропромислового розвитку райдержадміністрації Ніна Клочок зазначила, що усього земель сільськогосподарського призначення державної власності - запасу і резервного фонду у Куликівському районі налічується 26475,80га, з них: 15580,47га- сільськогосподарських угідь; 2260,19га - ріллі.
			div.row.item_news
				div.col-sm-5.hidden-xs
					div.item_img
						a(href='')
							img(src='images/img_news.jpg')
				div.col-sm-7
					div.item_text
						h3.title_news Про ефективність використання земельно-ресурсного потенціалу Куликівського району
						div.date_news 26 Жовтня 2016 - 20:40								
						a(href='')
							div.text_news Виступаючи на розширеному засіданні Колегії райдержадміністрації начальник відділу агропромислового розвитку райдержадміністрації Ніна Клочок зазначила, що усього земель сільськогосподарського призначення державної власності - запасу і резервного фонду у Куликівському районі налічується 26475,80га, з них: 15580,47га- сільськогосподарських угідь; 2260,19га - ріллі.
			div.row.item_news
				div.col-sm-5.hidden-xs
					div.item_img
						a(href='')
							img(src='images/img_news.jpg')
				div.col-sm-7
					div.item_text
						h3.title_news Про ефективність використання земельно-ресурсного потенціалу Куликівського району
						div.date_news 26 Жовтня 2016 - 20:40								
						a(href='')
							div.text_news Виступаючи на розширеному засіданні Колегії райдержадміністрації начальник відділу агропромислового розвитку райдержадміністрації Ніна Клочок зазначила, що усього земель сільськогосподарського призначення державної власності - запасу і резервного фонду у Куликівському районі налічується 26475,80га, з них: 15580,47га- сільськогосподарських угідь; 2260,19га - ріллі.