section#section_1.container
	div.row.box_wrapper
		div#left_box.col-md-3.hidden-sm.hidden-xs
			div#boss.row
				p.col-md-12 Голова районної ради
				img.col-md-12.img-thumbnail(src="images/boss.jpg", alt="Голова")
				p.col-md-12 Бузун Олег Віталійович
			section#list_page.row
				ul.nav.nav-pills.nav-stacked
					li
						a(href='#news' data-toggle='collapse') Новини
							i.fa.fa-sort-desc(aria-hidden='true')
						ul.block-list.dropdown-sub-menu.panel-collapse.collapse#news
							li
								a(href='') Новини районної ради
							li
								a(href='') Новини на місцях
							li
								a(href='') Новини райдержадміністрації
							li
								a(href='') Новини ОТГ							
							li
								a(href='') Оголошення
							li
								a(href='') Вивчаємо законодавство
							li
								a(href='') Статистика інформує
							li
								a(href='') Податкова інформує
					li
						a(href='#about_region' data-toggle='collapse') Про район
							i.fa.fa-sort-desc(aria-hidden='true')
						ul.block-list.dropdown-sub-menu.panel-collapse.collapse#about_region
							li
								a(href='') Символіка
							li
								a(href='') Адміністративно-територіальний устрій
							li
								a(href='') Сільські ради
							li
								a(href='') Об’єднані територіальні громади
							li
								a(href='') Природа
							li
								a(href='') Історія
							li
								a(href='') Видатні особистості	
					li
						a(href='#rada' data-toggle='collapse') Районна рада
							i.fa.fa-sort-desc(aria-hidden='true')
						ul.block-list.dropdown-sub-menu.panel-collapse.collapse#rada
							li
								a(href='') Загальна інформація
							li
								a(href='') Структура
							li
								a(href='') Голова
							li
								a(href='') Заступник
							li
								a(href='') Президія
							li
								a(href='') Депутати
							li
								a(href='') Постійні комісії
							li
								a(href='') Фракції та групи
							li
								a(href='') Виконавчий апарат
							li
								a(href='') Районна асоціація органів місцевого самоврядування «Рада Ніжинщини»
							li
								a(href='') Очищення влади
							li
								a(href='') Вакансії
					li
						a(href='#regulationsPublic' data-toggle='collapse') Нормативні документи
							i.fa.fa-sort-desc(aria-hidden='true')
						ul.block-list.dropdown-sub-menu.panel-collapse.collapse#regulationsPublic
							li
								a(href='') Законодавство
							li
								a(href='') Регламент
							li
								a(href='') Проекти регуляторних актів та рішень
							li
								a(href='') Рішення
							li
								a(href='') Протоколи сесій
							li
								a(href='') Регуляторні акти
							li
								a(href='') Розпорядження голови районної ради
							li
								a(href='') Плани роботи
					li
						a(href='#public' data-toggle='collapse') Зв'язки з громадськістю
							i.fa.fa-sort-desc(aria-hidden='true')
						ul.block-list.dropdown-sub-menu.panel-collapse.collapse#public
							li
								a(href='') Доступ до публічної інформації
							li
								a(href='') Нормативно-правова база
							li
								a(href='') Звернення громадян
							li
								a(href='') Електронна приймальня
							li
								a(href='') Гостьова книга
					li
						a(href='#media' data-toggle='collapse') Медіа
							i.fa.fa-sort-desc(aria-hidden='true')
						ul.block-list.dropdown-sub-menu.panel-collapse.collapse#media
							li
								a(href='') Фотогалерея
							li
								a(href='') Відеотека
					li
						a(href='') Контакти
		div#center_box.col-md-6 
			h3.topic 
				a(href="#") Новини
			//- a.show_all(href='') Переглянути всі новини 
			//- i.fa.fa-angle-right
			div.row.item_news
				h3.item_name 
					a(href="#") Чернігівські МЕМ: Про охорону повітряних ліній електропередач
				div.item_img.col-sm-3
					a(href='#')
						img.img-thumbnail(src='images/news_1.jpg')
				div.col-sm-9
					div.row					
						div.date_news.col-xs-6 26 Жовтня 2016 - 20:40
						div.category.col-xs-6
							a(href="#") Повідомлення
					div.row
						div.text_news.col-xs-12 
							a(href="#") Система вуличної каналізації та міські очисні споруди працюють в Семенівці біля 30 років. За цей час каналізаційні труби на окремих ділянках вуличних мереж за коксувалися, майже втратили пропускну спроможність. Особливо це стосується ділянок каналізації в центрі міста по периметру міського парку.
					div.row
						div.view.col-xs-3 Переглядів:
						div.rating.col-xs-3 Рейтинг:
						div.comment.col-xs-3 
							a(href="#") Коментарі:
						div.more.col-xs-3 
							a(href="#") Далі…
			div.row.item_news
				h3.item_name 
					a(href="#") У Крутах відбувся схід села
				div.item_img.col-sm-3
					a(href='#')
						img.img-thumbnail(src='images/news_2.jpg')
				div.col-sm-9
					div.row					
						div.date_news.col-xs-6 26 Жовтня 2016 - 20:40
						div.category.col-xs-6
							a(href="#") Повідомлення
					div.row
						div.text_news.col-xs-12 
							a(href="#") 28 березня 2017 року в с. Крути відбулись загальні збори громадян. Участь у них взяли голова райдержадміністрації Вячеслав Івашин, його перший заступник Сергій Батрак, голова районної ради Олег Бузун, його заступник Наталія Березка, депутат обласної ради Валерій Гавриленко, депутат районної ради Ольга Кіт, депутат міської ради Олександр Безпалий, помічник народного депутата України Олександра Кодоли Тамара Стратілат й інші.
					div.row
						div.view.col-xs-3 Переглядів:
						div.rating.col-xs-3 Рейтинг:
						div.comment.col-xs-3 
							a(href="#") Коментарі:
						div.more.col-xs-3 
							a(href="#") Далі…
			div.row.item_news
				h3.item_name 
					a(href="#") Чернігівські МЕМ: Про охорону повітряних ліній електропередач
				div.item_img.col-sm-3
					a(href='#')
						img.img-thumbnail(src='images/news_1.jpg')
				div.col-sm-9
					div.row					
						div.date_news.col-xs-6 26 Жовтня 2016 - 20:40
						div.category.col-xs-6
							a(href="#") Повідомлення
					div.row
						div.text_news.col-xs-12 
							a(href="#") Система вуличної каналізації та міські очисні споруди працюють в Семенівці біля 30 років. За цей час каналізаційні труби на окремих ділянках вуличних мереж за коксувалися, майже втратили пропускну спроможність. Особливо це стосується ділянок каналізації в центрі міста по периметру міського парку.
					div.row
						div.view.col-xs-3 Переглядів:
						div.rating.col-xs-3 Рейтинг:
						div.comment.col-xs-3 
							a(href="#") Коментарі:
						div.more.col-xs-3 
							a(href="#") Далі…
			div.row.item_news
				h3.item_name 
					a(href="#") Інформація щодо подання е-декларацій присяжними Ніжинського міськрайонного суду
				div.item_img.col-sm-3
					a(href='#')
						img.img-thumbnail(src='images/news_3.jpg')
				div.col-sm-9
					div.row					
						div.date_news.col-xs-6 26 Жовтня 2016 - 20:40
						div.category.col-xs-6
							a(href="#") Повідомлення
					div.row
						div.text_news.col-xs-12 
							a(href="#") Днями відбулися зміни у законодавстві України й відповідно до прикінцевих  положень Закону України «Про запобігання корупції» строк подання щорічної декларації для осіб, які відповідно до цього Закону подають таку декларацію вперше, продовжено до 1 травня 2017 року.
					div.row
						div.view.col-xs-3 Переглядів:
						div.rating.col-xs-3 Рейтинг:
						div.comment.col-xs-3 
							a(href="#") Коментарі:
						div.more.col-xs-3 
							a(href="#") Далі…						
		div#right_box.col-md-3.hidden-sm.hidden-xs
			div.announcements.preview
				a(href="#") Анонси
			div.announcements
				a(href='#') Відео				
					iframe(src="https://www.youtube.com/embed/h4CxMK1dHiw", frameborder="0")
			div.announcements 
				a(href='#') Фотогалерея				
					img.img-thumbnail(src='images/galary_1.jpg')
			div.announcements
				a(href="")
					img.img-thumbnail(src="images/Clima.png", alt="Проект ЄС 'ClimaEast: Збереження та стале використання торфовищ', що впроваджується ПРООН")
			div.announcements
				a(href="")
					img.img-thumbnail(src="images/Park.jpg", alt="Комунальний заклад 'Регіональний ландшафтний парк 'Ніжинський' Ніжинської районної ради")			
			div.announcements
				div.form-group
					div.input-group.date#datetimepicker4
						input.form-control(type="text" placeholder="календар")
						span.input-group-addon
							span.glyphicon.glyphicon-calendar
			div.announcements
				a(href='#') Корисні посилання
			div.announcements
				ul.nav.nav-pills.nav-stacked
					li
						a(href='#arhiv' data-toggle='collapse') Архів записів
							i.fa.fa-sort-desc(aria-hidden='true')
						ul.block-list.dropdown-sub-menu.panel-collapse.collapse#arhiv
							li
								a(href='#') Квітень 2017
							li
								a(href='#') Травень 2017
			div.announcements
				a(href="#") Статистика