section#section2.row
	div.container
		div.social.col-xs-12
			ul
				li
					a(href='' alt='Twitter')
						span.fa.fa-twitter
				li
					a(href='' alt='Instagram')
						span.fa.fa-instagram
				li
					a(href='' alt="Facebook")
						span.fa.fa-facebook
				li
					a(href='' alt="Youtube")
						span.fa.fa-youtube-play